* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // ? 1rem = 10px.
  scroll-behavior: smooth; // ? Rolagem suave.
}

body {
  font-size: 1.6rem;
  font-family: var(--font-primary);
  background-color: var(--bg-color);
  color: var(--text-primary);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; // ? Fontes mais nítidas no Mac/iOS.
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
