// # --- Imports ---
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Space+Grotesk:wght@300..700&display=swap");

// # --- Typography ---
$font-primary: "Inter", sans-serif;
$font-heading: "Space Grotesk", sans-serif;
$font-code: "Jetbrains Mono", monospace;

// # Font Sizes
// ! on the _reset.scss in html{} font-size will be 62.5% of 16px.
$text-xs: 1.2rem;
$text-sm: 1.4rem;
$text-base: 1.6rem; // ? 16px Default
$text-lg: 1.8rem;
$text-xl: 2rem;
$text-2xl: 2.4rem;
$text-4xl: 3.6rem;
$text-hero: 6.4rem;

// # --- Color Pallete & Themes ---
// ! Keeping the values separated, so we can use alpha value if needed.
// ! Ex: hsla(var(--primary-hsl), 0.5).

:root {
  /* # Light Mode (Default) */
  --bg-hsl: 210, 17%, 98%;
  --surface-hsl: 0, 0%, 100%;
  --text-primary-hsl: 0, 0%, 10%;
  --text-secondary-hsl: 0, 0%, 40%;
  --primary-hsl: 221, 83%, 53%;

  --bg-color: hsl(var(--bg-hsl));
  --surface-color: hsl(var(--surface-hsl));
  --text-primary: hsl(var(var(--text-primary-hsl)));
  --text-secondary: hsl(var(--text-secondary-hsl));
  --primary-color: hsl(var(--primary-hsl));
}
// # Dark Mode
[data-theme="dark"] {
  --bg-hsl: 0, 0%, 4%;
  --surface-hsl: 0, 0%, 9%;
  --text-primary-hsl: 0, 0%, 93%;
  --text-secondary-hsl: 240, 5%, 65%;
  --primary-hsl: 217, 91%, 60%;
}

// # --- Breakpoints ---
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$wide: 1280px;
