@use "../../styles/variables" as *;

.mobile-toggle {
  display: none;
  position: fixed;
  top: 2rem;
  left: 2rem;
  z-index: 1001; // ? Above header.
  background-color: var(--surface-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 1rem;
  font-size: 2.4rem;
  cursor: pointer;
  color: var(--text-secondary);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  @media (max-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--hidden {
    display: none;
  }
}

.header {
  // # Header stay fixed on the left side.
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 28rem; // ? 280px.
  background-color: hsla(var(--bg-hsl), 0.95);
  backdrop-filter: blur(10px);
  border-right: 1px solid hsla(var(--text-primary-hsl), 0.05);
  z-index: 1000;

  transition: transform 0.4s cubic-bezier(0.16, 1, 0.3, 1);

  &__container {
    position: relative;
    height: 100%;
    padding: 6rem 3rem;
    display: flex;
    flex-direction: column;

    @media (max-width: $tablet) {
      padding: 2.5rem 2.4rem;
    }
  }

  &__logo {
    font-family: $font-code;
    font-size: $text-2xl;
    color: var(--text-primary);
    margin-bottom: 6rem;

    @media (max-width: $tablet) {
      margin-bottom: 3rem;
      font-size: $text-xl;
    }
  }

  &__nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /*
      # AJUSTE MOBILE 3: Rolagem de segurança
      # Se o celular for pequeno (tipo iPhone SE) ou estiver deitado,
      # o conteúdo não vai cortar.
    */
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0px;
      background: transparent;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &--bottom {
      gap: 1.6rem;
      padding-top: 3rem;
      border-top: 1px solid hsla(var(--text-primary-hsl), 0.05);

      @media (max-width: $tablet) {
        padding-top: 2rem;
        margin-top: 2rem;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    height: 4rem;
    // # Títulos da seção
    &--label {
      font-size: $text-xs;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      color: var(--text-secondary);
      margin-bottom: 0.8rem;
      font-weight: 600;
    }

    &:hover {
      .header__link {
        color: var(--primary-color);
        transform: translateX(4px); // ? Simple animation.
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    font-size: $text-base;
    color: var(--text-primary);
    transition:
      transform 0.2s ease,
      color 0.2s ease;

    @media (width: $tablet) {
      padding: 0.8rem 0;
      font-size: $text-lg;
    }
  }

  &__close-btn,
  &__mobile-btn {
    display: none; // ? Hidden in desktop mode.
  }

  @media (max-width: $tablet) {
    width: 85%; // ? Não ocupa 100%, assim a pessoa consegue ver que tem algo atrás.
    max-width: 30rem;

    transform: translateX(-100%);
    box-shadow: none;

    &__close-btn {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 4rem;
      height: 4rem;

      position: absolute;
      top: 2rem;
      right: 1.5rem;

      background: transparent;
      border: none;
      font-size: 2.8rem;
      color: var(--text-secondary);
      z-index: 10;
    }

    &--open {
      transform: translateX(0);
      box-shadow: 10px 0 40px rgba(0, 0, 0, 0.2);
    }
  }
}
